

.search-form {
    margin-top: auto;
    flex-direction: flex-end;
}





// .main-nav {
//     background-color: $green;

//     .menu-icon {
//         display: none;
//     }

//     .logo {

//     }

//     .main-first-nav {
     
//     }

//     ul {
//         display: flex;
        
//     }

//     a {
//         display: block;
        
//         color: #fff;
//         padding: 1rem;
//         margin: 0 1rem;

//         &:hover, &:focus {
//             color: lighten($color: $red, $amount: 20%);

//     }

//     .search-form {
//         margin-top: auto;
//     }
    
//     .owl-carousel {
//         padding: 80px 60px;
//         .btn {
//             margin-top: auto;
//         }
//         .owl-nav button {
//             top: calc(50% - 1.5rem); //pour centrer les fleches
//         }
//     }

//     }
// }

.section6 {
 display: block;
}
