// layout
$max-width:     1200px;
$bp-tablet:     768px;
$bp-desktop:    992px;
$marge:         15px;


// Typos
$font-default:   'Trebuchet MS', sans-serif;
$font-title:     'caveat', $font-default;
$font-size-base: 87.5%; // base 14px

// Couleurs
$brown:       #281B03;
$light-brown: #9E7347;
$red:         #f84242;
$dark-red:    #d43839;
$green:       #0C4418;
$light-green: #08957F;
$gray:        #cfcfcf;
$dark-gray:   #a7a7a7;
$light-gray:  #e5e5e5;
  
$link-color: #fff ;    

//burger

$menu-icon-bg: #052b23;
$menu-icon-color: #fff;
$duration: 0.5s;



